/* Your custom styles */
.btn-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#3f51b5;
	color: #fff;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgba(113, 113, 113, 0.42);
	display: none;
	z-index: 100;
}

.btn-float:hover{
	margin-top:22px;
    color: #fff
}

.btn-icon-float{
	margin-top:22px;
}

.btn-icon-float:hover{
	margin-top:22px;
    color: #fff
}

.fa-sm {
    font-size:1.5em;
}
