/* Your custom styles */
.btn-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#3f51b5;
	color: #fff;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgba(113, 113, 113, 0.42);
	display: none;
	z-index: 100;
}

.btn-float:hover{
	margin-top:22px;
    color: #fff
}

.btn-icon-float{
	margin-top:22px;
}

.btn-icon-float:hover{
	margin-top:22px;
    color: #fff
}

.fa-sm {
    font-size:1.5em;
}

.square {
	width:30px;
	height:30px;
	background: #fff;
	position:relative;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
	color:#3f51b5;
}
.plus, .minus {
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:0; left:0;
	line-height:32px;
	text-align:center;
	-webkit-transition: .5s all ease-out;
	transition: .5s all ease-out;
}

.plus {
	opacity:1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.plus-inactive {
	opacity:0;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.minus {
	opacity:1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.minus-inactive {
    opacity:0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
